
.containerr {
    display: flex; /* Use flexbox to arrange items */
    flex-direction: column; /* Arrange items vertically */
    height: 820px;
  
  }
  
  /* Chatbar styles */
  .chatbarr {
    background-color: rgb(255, 250, 250);
    padding-top: 20px; /* Adjust the padding as needed */
    padding-bottom: 20px; /* Adjust the padding as needed */
    border-radius: 10px;
  }
  
  /* Navbar styles */
  .navbar {
    display: flex; /* Use flexbox to arrange items */
    align-items: center; /* Center items vertically */
  }
  
  /* Name styles */
  .navbar span {
    margin-right: 10px;
    margin-left: 50px; /* Adjust the margin as needed */
  }
  
  /* Image styles */
  .navbar img {
    width: 50px; /* Adjust the width as needed */
    height: 50px; /* Adjust the height as needed */
    border-radius: 50%; /* Make the image round */
    margin-left: 900px;
  }
  

  /*    {/* Conditionally render different containers based on selectedUserId  */


  .chatbar{
    background-color: rgb(255, 250, 250);
    padding-top: 100px;
    padding-bottom:200px;
    border-radius: 10px;
  }

  .container {
    display: grid;
    place-items: center;
   margin-top: 200px; /* Adjust the height as needed */
  }
  

  img {
    max-width: 100%;
    max-height: 100%;
  }
  
  /* BOX - CONTAINER */

  .box-container {
        display: flex;
        flex-direction: column; /* Arrange items vertically */
    border-top: 2px solid black;
    margin-top: 10px;
    height: 820px;
    background-color: aliceblue;
  }

  .box-message-container{
    border: 5px solid black;
    margin-top: 10px;
    width: 97%;
    height: 680px;
    margin: 10px;
    background-color: rgb(64, 166, 255);
    border-radius: 10px;
    overflow: scroll;

  }

  .sender {
    text-align: right;
    background-color: #DCF8C6; /* Adjust to your preference */
    padding: 10px;
    margin-bottom: 5px;
  }
  
  .receiver {
    text-align: left;
    background-color: #EAEAEA; /* Adjust to your preference */
    padding: 10px;
    margin-bottom: 5px;
  }
  