
.container{
    align-content: center;
    margin-left: 400px;
    margin-bottom: 100px;
    
   
    
   
   }
   
   .terms{
     color: rgb(163, 163, 163);
   }
   .form-container{
     
     height: 100%;
    width: 100%;
   
    border: #667eea 2px solid;
   
   }
   
   .register {
     background-image: linear-gradient(135deg, #667eea 0%, #764ba2 100%);
     -webkit-background-clip: text; /* Apply the gradient to the text */
     background-clip: text;
     color: transparent; /* Set text color to transparent */
     font-family: 'Quattrocento';
     font-size: 45px;
     margin-left: 40px;
     background-image: url('/illus.jpeg'); /* Set the background image */
     background-size: cover; /* Adjust background image size */
     background-position: center; /* Center the background image */
   }
   
   
   
   .form-container-div {
     display: flex;
     align-items: center;
     justify-content: center;
   }
   
   .image{
    width: 300px;
    height: 300px;
   }
   .image-container {
     flex: 1;
     padding-right: 20px; /* Adjust spacing between image and form */
    
     background-size: cover; /* Adjust background image size */
     background-position: center; /* Center the background image */
     height: 100%;
   }
   
   .form-content {
     flex: 2;
   }
   .image{
     width: 600%;
   }
   /* Your existing styles for form fields and labels go here */
   
   
   
   
   
   .form-container-div{
     padding: 50px;
     border-left: 2px solid #3fcd73;
    
   }
   
    .ant-form-item-label {
     
     font-weight: bold; /* Make label text bold */
     
   
    }
   
   
   /* Target error message */
   .ant-form-item-explain-error {
     color: red; /* Change error message color */
     padding: 10px;
   }
   
   
   
   