
.containerPIG{
    align-content: center;
    margin-left: 400px;
    margin-top: 200px;
  
   }

   .form-contaiNER{
     
    height: 100%;
   width: 100%;
  
   border: #667eea 2px solid;
  
  }

  .form-container-DIVV {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 90%;
  }
  .IMMG-container{
    flex: 1;
    padding-right: 20px; /* Adjust spacing between image and form */
   
    background-size: cover; /* Adjust background image size */
    background-position: center; /* Center the background image */
    height: 100%;
  }
  .iMMage{
    width: 300px;
    height: 300px;
   }
    
   .form-contENt {
    flex: 2;
    
  }
  
   
   .register {
     background-image: linear-gradient(135deg, #667eea 0%, #764ba2 100%);
     -webkit-background-clip: text; /* Apply the gradient to the text */
     background-clip: text;
     color: transparent; /* Set text color to transparent */
     font-family: 'Quattrocento';
     font-size: 45px;
     margin-left: 40px;
     background-image: url('/illus.jpeg'); /* Set the background image */
     background-size: cover; /* Adjust background image size */
     background-position: center; /* Center the background image */
   }
   
   
   
   
   
  
  
   /* Your existing styles for form fields and labels go here */
   
   
   
   
   
 
   
    .ant-form-item-label {
     
     font-weight: bold; /* Make label text bold */
     
   
    }
   
   
   /* Target error message */
   .ant-form-item-explain-error {
     color: red; /* Change error message color */
     padding: 10px;
   }
   
   
   
   